body{
    background-color: skyblue;
}
main {
    max-width: 600px;
    margin: 0 auto;
}
.white-text {
    color: white;
}
img {
    width: 10%;
}
.centered {
    text-align: center;
}
ol{
    text-align: left;
    width: 400px;
    margin: 0 auto;
}
.big-text{
    font-size: 1.5em;
}
